@model QuanLyNhaHang.ViewModels.ThucDonVM
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title="Thực đơn";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    
    <div class="row">
        <div class="col-lg-12">
            <p>
                @Html.ActionLink("+ Create New ", "Create","ThucDon")
              
            </p>

            <form asp-action="Index" asp-controller="ThucDon" method="get">
                 <div class="input-group">
                    <input type="text" class="form-control" name="searchString">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Tìm</button>
                    </span>
                 </div>
            </form>
           
            <table class="table">
                <tr>
                    <th>
                        @Html.ActionLink("Tên loại thức ăn","Index",new {sort=@ViewBag.LoaiSort, currentFilter=@ViewBag.CurrentFilter})
                    </th>
                    <th>
                        @Html.ActionLink("Tên thức ăn", "Index", new { sort=@ViewBag.TenThucAnSort,currentFilter=@ViewBag.CurrentFilter })
                    </th>
                    <th>
                       @Html.ActionLink("Giá", "Index", new { sort=@ViewBag.GiaSort,currentFilter=@ViewBag.CurrentFilter })
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.ThucDonsMD)
                {
                    <tr id="row_@item.Id">
                        <td>
                            @Html.DisplayFor(modelItem => item.TenLoaiMonAn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ten)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gia)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                           
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
        @{
            var disNext= !Model.ThucDonsMD.HasNext ? " visibility: hidden" : "";   
            var disPre= !Model.ThucDonsMD.HasPrevious ? " visibility: hidden" : "";   
        }

        
        <ul class="pagination">
            <li class="page-item">
                <a asp-action="Index"  class="page-link" style="@disPre"
                asp-route-pageIndex="@( Model.ThucDonsMD.PageIndex - 1 )"
                asp-route-sort="@ViewBag.CurrentSort"
                asp-route-currentFilter="@ViewBag.CurrentFilter"> Previous </a>
            </li>
            
        @{
           
            for(int i=1; i <= Model.ThucDonsMD.TotalPages; i++)
            {
                //Nếu số tổng số trang >=8 thì sẽ hiện ... và sẽ hiện trang : i-2 , i-1 , i , i+1 ,i+2
                if(Model.ThucDonsMD.TotalPages>=8 && @i>=Model.ThucDonsMD.PageIndex-2 && @i<=Model.ThucDonsMD.PageIndex+2)
                {
                    if(@i==Model.ThucDonsMD.PageIndex-2 && @i>1)
                    {
                        <li class="page-item"><a class="page-link">...</a></li>
                    }
                    if(@i==Model.ThucDonsMD.PageIndex)
                    {
                        <li class="page-item">
                            <a class="page-link" style="background-color:lightblue"> @i </a>
                        </li>   
                    }
                    else 
                    {
                        <li class="page-item">
                            <a class="page-link"
                            asp-action="Index"
                            asp-route-pageIndex="@i"
                            asp-route-sort="@ViewBag.CurrentSort"
                            asp-route-currentFilter="@ViewBag.CurrentFilter"> @i </a>
                        </li>
                    }
                    if(@i==Model.ThucDonsMD.PageIndex+2 && @i<Model.ThucDonsMD.TotalPages)
                    {
                        <li class="page-item"><a class="page-link">...</a></li>
                    }
                }
                else if( Model.ThucDonsMD.TotalPages < 8 ) //Nếu số tổng số trang <8 thì sẽ hiện hết các trang
                {
                     if(@i==Model.ThucDonsMD.PageIndex)
                    {
                        <li class="page-item">
                            <a class="page-link" style="background-color:lightblue"> @i </a>
                        </li>   
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link"
                            asp-action="Index"
                            asp-route-pageIndex="@i"
                            asp-route-sort="@ViewBag.CurrentSort"
                            asp-route-currentFilter="@ViewBag.CurrentFilter"> @i </a>
                        </li>
                    }
                }
               
               
            }
           
        }

            <li class="page-item">
                  <a asp-action="Index"  class="page-link" style="@disNext"
                asp-route-pageIndex="@( Model.ThucDonsMD.PageIndex + 1 )"
                asp-route-sort="@ViewBag.CurrentSort"
                asp-route-currentFilter="@ViewBag.CurrentFilter"> Next </a>
            </li>
         </ul>
      

</body>
</html>
