@model  ApplicationCore.ModelsContainData.ViewModels.ServeVM
@{
    Layout=null;
}

            <table class="table table-stripe">
               <tr>
                    <th>Tên món ăn</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                     <th>Sửa</th>
                </tr>
                
                @foreach (var item in Model.ChiTietHoaDons)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenMonAn)
                        </td>
                         <td>
                            <div class="form-group">
                                <input type="button" value="-" onclick="TruSLTrongCTHD('CTHD_@item.IdHoaDon@item.IdMonAn','@item.IdHoaDon','@item.IdMonAn')" class="btn btn-primary">
                                <input asp-for="@item.SoLuong" type="number" id="CTHD_@item.IdHoaDon@item.IdMonAn" style="padding:8px;width:80px" readonly/>
                                <input type="button" value="+" onclick="CongSLTrongCTHD('CTHD_@item.IdHoaDon@item.IdMonAn','@item.IdHoaDon','@item.IdMonAn')" class="btn btn-primary">
                            </div>
                           
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DonGia)
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="button" value="Xóa" onclick="XoaCTHD('@item.IdHoaDon','@item.IdMonAn')"  class="btn btn-danger" >
                            </div>
                        </td>
                    </tr>
                }
               
            </table>
            <input type="hidden" id="laythanhtoan" value="@Model.HoaDon.ThanhTien"/>