@model QuanLyNhaHang.ViewModels.ThongKeVM

@{
    ViewData["Title"] = "Thống kê";
}
   
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Thời gian</h2>
                <div class="clearfix"></div>
            </div>
             <div class="x_content">
                <div class="row">
                    <form asp-action="Index" asp-controller="ThongKe" method="get">
                        <div class="animated flipInY col-lg-5 col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group row">
                                <label class="control-label col-md-2 col-sm-2 col-xs-2" style="margin-top:7px">Từ</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <input type="date" name="thoiGianTu" style="padding:5px"/>
                                </div>
                            </div>
                        </div>   

                        <div class="animated flipInY col-lg-5 col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group row">
                                <label class="control-label col-md-2 col-sm-2 col-xs-2" style="margin-top:7px">Đến</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <input type="date" name="thoiGianDen" style="padding:5px"/>
                                </div>
                            </div>
                        </div>   

                         <div class="animated flipInY col-lg-2 col-md-3 col-sm-6 col-xs-12">
                             <input type="submit" value="Tìm" class="form-control btn btn-primary"/>
                         </div>
                    </form>
                </div>
            </div>
        </div>

       
    </div>
</div>
<div class="x_content">
    <div class="row">
        <div class="animated flipInY col-lg-6 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-usd"></i></div>
                <div class="count">Doanh thu</div>
                <h3>Tổng doanh thu</h3>
                <p style="font-size:1.2em">@Model.TongDoanhThu đ</p>
            </div>
        </div>

        <div class="animated flipInY col-lg-6 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-cutlery"></i></div>
                <div class="count">Bàn ăn</div>
                <h3>Tổng bàn được phục vụ</h3>
                <p style="font-size:1.2em" >@Model.TongSoBanAnDuocPhucVu bàn</p>
            </div>
        </div>

        <div class="animated flipInY col-lg-6 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-tags"></i></div>
                <div class="count">Phiếu đặt bàn</div>
                <h3>Tổng phiếu đặt bàn</h3>
                <p style="font-size:1.2em" >@Model.TongSoPhieuDatBan phiếu</p>
            </div>
        </div>

        <div class="animated flipInY col-lg-6 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-tag"></i></div>
                <div class="count">Phiếu đặt bàn</div>
                <h3>Thống kê trạng thái</h3>
                <p style="font-size:1.2em">Bị hủy: @Model.TongPhieuDatBanBiHuy  --  Xử lý xong : @Model.TongPhieuDatBanXuLyXong  --  Chưa xử lý : @Model.TongPhieuDatBanChuaXuLy</p>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Thống kê số lượng món ăn bán được</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                    <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th class="column-title">
                                <a  asp-action="Index" asp-controller="ThongKe" 
                                    asp-route-currentSort="@ViewBag.CurrentSortTenLoaiMonAn" 
                                    asp-route-currentFilterThoiGianTu="@ViewBag.CurrentFilterThoiGianTu"
                                    asp-route-currentFilterThoiGianDen="@ViewBag.CurrentFilterThoiGianDen"
                                    asp-route-pageIndex="@Model.ListMonAnBanDuoc.PageIndex"
                                    style="color:white">Tên loại món ăn</a>
                                
                            </th>
                            <th class="column-title">
                                <a  asp-action="Index" asp-controller="ThongKe" 
                                    asp-route-currentSort="@ViewBag.CurrentSortTenMonAn" 
                                    asp-route-currentFilterThoiGianTu="@ViewBag.CurrentFilterThoiGianTu"
                                    asp-route-currentFilterThoiGianDen="@ViewBag.CurrentFilterThoiGianDen"
                                    asp-route-pageIndex="@Model.ListMonAnBanDuoc.PageIndex"
                                    style="color:white">Tên món ăn</a>
                            </th>
                            <th class="column-title">
                                <a  asp-action="Index" asp-controller="ThongKe" 
                                    asp-route-currentSort="@ViewBag.CurrentSortGia" 
                                    asp-route-currentFilterThoiGianTu="@ViewBag.CurrentFilterThoiGianTu"
                                    asp-route-currentFilterThoiGianDen="@ViewBag.CurrentFilterThoiGianDen"
                                    asp-route-pageIndex="@Model.ListMonAnBanDuoc.PageIndex"
                                    style="color:white">Giá</a>
                            </th>
                            <th class="column-title">
                                <a  asp-action="Index" asp-controller="ThongKe" 
                                    asp-route-currentSort="@ViewBag.CurrentSortSLBanDuoc" 
                                    asp-route-currentFilterThoiGianTu="@ViewBag.CurrentFilterThoiGianTu"
                                    asp-route-currentFilterThoiGianDen="@ViewBag.CurrentFilterThoiGianDen"
                                    asp-route-pageIndex="@Model.ListMonAnBanDuoc.PageIndex"
                                    style="color:white">Số lượng bán được</a>
                                </th>
                          </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ListMonAnBanDuoc)
                            {
                                <tr>
                                    <td class=" ">@Html.DisplayFor(modelItem => item.TenLoaiMonAn)</td>
                                    <td class=" ">@Html.DisplayFor(modelItem => item.Ten)</td>
                                    <td class=" ">@Html.DisplayFor(modelItem => item.Gia)</td>
                                    <td class=" ">@Html.DisplayFor(modelItem => item.SoLuongBanDuoc)</td>           
                                </tr>
                           }
                        </tbody>
                      </table>
                    </div>  
                
            </div>
        </div>
    </div>

            <div class="col-md-12">
                @{
                    var disNext= !Model.ListMonAnBanDuoc.HasNext ? " visibility: hidden" : "";   
                    var disPre= !Model.ListMonAnBanDuoc.HasPrevious ? " visibility: hidden" : "";   
                }

                <span style="float:right"> 
                    <ul class="pagination">
                        <li class="page-item">
                            <a asp-action="Index"  class="page-link" style="@disPre"
                            asp-route-pageIndex="@( Model.ListMonAnBanDuoc.PageIndex - 1 )"
                            asp-route-currentSort="@ViewBag.CurrentSort" 
                            asp-route-currentFilterThoiGianTu="@ViewBag.CurrentFilterThoiGianTu"
                            asp-route-currentFilterThoiGianDen="@ViewBag.CurrentFilterThoiGianDen"> Previous </a>
                        </li>
                        
                    @{
                    
                        for(int i=1; i <= Model.ListMonAnBanDuoc.TotalPages; i++)
                        {
                            //Nếu số tổng số trang >=8 thì sẽ hiện ... và sẽ hiện trang : i-2 , i-1 , i , i+1 ,i+2
                            if(Model.ListMonAnBanDuoc.TotalPages>=8 && @i>=Model.ListMonAnBanDuoc.PageIndex-2 && @i<=Model.ListMonAnBanDuoc.PageIndex+2)
                            {
                                if(@i==Model.ListMonAnBanDuoc.PageIndex-2 && @i>1)
                                {
                                    <li class="page-item"><a class="page-link">...</a></li>
                                }
                                if(@i==Model.ListMonAnBanDuoc.PageIndex)
                                {
                                    <li class="page-item">
                                        <a class="page-link" style="background-color:lightblue"> @i </a>
                                    </li>   
                                }
                                else 
                                {
                                    <li class="page-item">
                                        <a class="page-link"
                                        asp-action="Index"
                                        asp-route-pageIndex="@i"
                                        asp-route-currentSort="@ViewBag.CurrentSort" 
                                        asp-route-currentFilterThoiGianTu="@ViewBag.CurrentFilterThoiGianTu"
                                        asp-route-currentFilterThoiGianDen="@ViewBag.CurrentFilterThoiGianDen"> @i </a>
                                    </li>
                                }
                                if(@i==Model.ListMonAnBanDuoc.PageIndex+2 && @i<Model.ListMonAnBanDuoc.TotalPages)
                                {
                                    <li class="page-item"><a class="page-link">...</a></li>
                                }
                            }
                            else if( Model.ListMonAnBanDuoc.TotalPages < 8 ) //Nếu số tổng số trang <8 thì sẽ hiện hết các trang
                            {
                                if(@i==Model.ListMonAnBanDuoc.PageIndex)
                                {
                                    <li class="page-item">
                                        <a class="page-link" style="background-color:lightblue"> @i </a>
                                    </li>   
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a class="page-link"
                                        asp-action="Index"
                                        asp-route-pageIndex="@i"
                                        asp-route-currentSort="@ViewBag.CurrentSort" 
                                        asp-route-currentFilterThoiGianTu="@ViewBag.CurrentFilterThoiGianTu"
                                        asp-route-currentFilterThoiGianDen="@ViewBag.CurrentFilterThoiGianDen"> @i </a>
                                    </li>
                                }
                            }
                        
                        
                        }
                    
                    }

                        <li class="page-item">
                            <a asp-action="Index"  class="page-link" style="@disNext"
                                asp-route-pageIndex="@( Model.ListMonAnBanDuoc.PageIndex + 1 )"
                                asp-route-currentSort="@ViewBag.CurrentSort" 
                                asp-route-currentFilterThoiGianTu="@ViewBag.CurrentFilterThoiGianTu"
                                asp-route-currentFilterThoiGianDen="@ViewBag.CurrentFilterThoiGianDen"> Next </a>
                        </li>
                    </ul>
                </span>
            </div>
</div>

