@model ApplicationCore.ModelsContainData.ViewModels.ServeVM
@{
    ViewData["Title"] = "Phục vụ cho bàn ăn";
}

<div class="row">
    <!-- thông tin bàn ăn -->
    <div class="col-md-5" style = "margin:10px 20px 10px 30px;box-shadow:2px 2px 5px grey">
        <h3>Thông tin bàn ăn</h3>
        <hr />
               
                <div class="form-group">
                    <label asp-for="BanAn.Id" class="control-label"></label>
                    <input asp-for="BanAn.Id" class="form-control" readonly/>
                    <span asp-validation-for="BanAn.Id" class="text-danger"></span>
                </div>
               
                <div class="form-group">
                    <label asp-for="BanAn.LoaiBanAn" class="control-label"></label>
                    <input asp-for="BanAn.LoaiBanAn" class="form-control" readonly/>
                    <span asp-validation-for="BanAn.LoaiBanAn" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="BanAn.TrangThai" class="control-label"></label>
                    <input asp-for="BanAn.TrangThai" class="form-control" readonly/>
                    <span asp-validation-for="BanAn.TrangThai" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="BanAn.GhiChu" class="control-label"></label>
                    <textarea asp-for="BanAn.GhiChu" class="form-control"></textarea>
                    <span asp-validation-for="BanAn.GhiChu" class="text-danger"></span>
                </div>
              
    </div>
    <!-- End thông tin bàn ăn -->

     <!-- thông tin hóa đơn của bàn ăn -->
    <div class="col-md-6" style = "margin:10px 10px ;box-shadow:2px 2px 5px grey">
        <h3>Hóa đơn</h3>
        <hr/>
        @if(Model.HoaDon.TrangThai=="Chưa thanh toán")
        {
            @Html.Partial("_BanAnPartialView/_HoaDonCreatedPartial.cshtml")
        }
        else
        {
             @Html.Partial("_BanAnPartialView/_CreateHoaDonPartial.cshtml")
        }
        
    </div>
     <!--End thông tin hóa đơn của bàn ăn -->
</div>
<!-- End thông tin hóa đơn và bàn ăn-->

@if(Model.HoaDon.TrangThai=="Chưa thanh toán")
{
    <div class="row">
        <div class="col-md-12" style = "margin:10px 0px ;box-shadow:2px 2px 5px grey">
            <hr/>
            <h4>Danh sách món ăn</h4>
            <hr/>
            Loại món ăn : 
            <select id="ChonLoaiMonAn" onchange="ChonLoaiMonAn()" style="padding:6px"> 
                <option value="">All</option>
                @foreach( var item in Model.LoaiMonAns )
                {
                    <option value="@item.Id">@item.Ten</option>
                }
            </select>
             <!-- Hiển thị danh sách món ăn -->
            <div id="c">
                @Html.Partial("_BanAnPartialView/_ListMonAnPartial.cshtml")
            </div>
             <!-- end ajax -->
        </div>
        <hr/>
    </div>

    <div class="row">
        <div class="col-md-12" style = "margin:5px 0px ;box-shadow:2px 2px 5px grey">
            <h3>Chi tiết bàn ăn</h3>
             <!-- hiển thị chi tiết món ăn -->
            <div id="show_cthd">
                 @Html.Partial("_BanAnPartialView/_CTHDPartial.cshtml")
            </div>

        </div>
        <hr/>
    </div>
}
<script scr="~/jquery.unobtrusive-ajax.js"></script>
