@model  ApplicationCore.DTOs.SaveDTOs.SavePhieuDatBanDTO

@{
    ViewData["Title"] = "Xóa phiếu đặt bàn";
}


<h3>Bạn có chắc muốn xóa phiếu đặt bàn này ?</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBanAn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBanAn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdKhachHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdKhachHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianDat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianDat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
    </dl>
    
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
