@model QuanLyNhaHang.ViewModels.PhieuDatBanVM

@{
    ViewData["Title"] = "Sửa phiếu đặt bàn";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PhieuDatBan.Id" />
            <div class="form-group">
                <label asp-for="PhieuDatBan.IdBanAn" class="control-label"></label>
                <select asp-for="PhieuDatBan.IdBanAn"  class="form-control">
                    @foreach( var item in Model.BanAns )
                    {
                        <option value = "@item.Id"> @item.Id </option>
                    }
                </select>
                <span asp-validation-for="PhieuDatBan.IdBanAn" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="PhieuDatBan.IdKhachHang" class="control-label"></label>
                <input asp-for="PhieuDatBan.IdKhachHang" class="form-control" type="hidden"/>
                <input value="@ViewBag.TenKhachHang" class="form-control" readonly/>      
                <span asp-validation-for="PhieuDatBan.IdKhachHang" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="PhieuDatBan.IdUser" class="control-label"></label>
                <input asp-for="PhieuDatBan.IdUser" class="form-control" value="@ViewBag.IdCurrentUser"  type="hidden"/>
                <input  class="form-control" value="@ViewBag.TenUser" readonly/>
                <span asp-validation-for="PhieuDatBan.IdUser" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhieuDatBan.ThoiGianDat" class="control-label"></label>
                <input asp-for="PhieuDatBan.ThoiGianDat" class="form-control" />
                <span asp-validation-for="PhieuDatBan.ThoiGianDat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhieuDatBan.TrangThai" class="control-label"></label>
                <select asp-for="PhieuDatBan.TrangThai"  class="form-control">
                    <option value="Chưa xử lý">Chưa xử lý</option>
                    <option value="Bị hủy">Hủy phiếu đặt bàn</option>
                </select>
                <span asp-validation-for="PhieuDatBan.TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhieuDatBan.GhiChu" class="control-label"></label>
                <input asp-for="PhieuDatBan.GhiChu" class="form-control" />
                <span asp-validation-for="PhieuDatBan.GhiChu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"><i style="color:red">@ViewBag.MessagePhieuDatBan</i></label>     
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

