@model ApplicationCore.ModelsContainData.ViewModels.PhieuDatBanVM

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Bàn ăn
            </th>
            <th>
                Tên khách hàng(id)
            </th>
            <th>
                Thời gian đặt
            </th>
            <th>
               Trạng thái
            </th>
            <th>
               Ghi chú
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach ( var item in Model.PhieuDatBans ) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdBanAn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdKhachHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianDat)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="Serve" asp-controller="BanAn" asp-route-IdBanAn="@item.IdBanAn" asp-route-IdPhieuDatBan="@item.Id">Serve</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
            var disNext= !Model.PhieuDatBans.HasNext ? " visibility: hidden" : "";   
            var disPre= !Model.PhieuDatBans.HasPrevious ? " visibility: hidden" : "";   
        }

    <span style="float:right"> 
        <ul class="pagination">
            <li class="page-item">
                <a asp-action="Index"  class="page-link" style="@disPre"
                asp-route-pageIndex="@( Model.PhieuDatBans.PageIndex - 1 )"
                asp-route-sort="@ViewBag.CurrentSort"
                asp-route-currentFilter="@ViewBag.CurrentFilter"> Previous </a>
            </li>
            
        @{
           
            for(int i=1; i <= Model.PhieuDatBans.TotalPages; i++)
            {
                //Nếu số tổng số trang >=8 thì sẽ hiện ... và sẽ hiện trang : i-2 , i-1 , i , i+1 ,i+2
                if(Model.PhieuDatBans.TotalPages>=8 && @i>=Model.PhieuDatBans.PageIndex-2 && @i<=Model.PhieuDatBans.PageIndex+2)
                {
                    if(@i==Model.PhieuDatBans.PageIndex-2 && @i>1)
                    {
                        <li class="page-item"><a class="page-link">...</a></li>
                    }
                    if(@i==Model.PhieuDatBans.PageIndex)
                    {
                        <li class="page-item">
                            <a class="page-link" style="background-color:lightblue"> @i </a>
                        </li>   
                    }
                    else 
                    {
                        <li class="page-item">
                            <a class="page-link"
                            asp-action="Index"
                            asp-route-pageIndex="@i"
                            asp-route-sort="@ViewBag.CurrentSort"
                            asp-route-currentFilter="@ViewBag.CurrentFilter"> @i </a>
                        </li>
                    }
                    if(@i==Model.PhieuDatBans.PageIndex+2 && @i<Model.PhieuDatBans.TotalPages)
                    {
                        <li class="page-item"><a class="page-link">...</a></li>
                    }
                }
                else if( Model.PhieuDatBans.TotalPages < 8 ) //Nếu số tổng số trang <8 thì sẽ hiện hết các trang
                {
                     if(@i==Model.PhieuDatBans.PageIndex)
                    {
                        <li class="page-item">
                            <a class="page-link" style="background-color:lightblue"> @i </a>
                        </li>   
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link"
                            asp-action="Index"
                            asp-route-pageIndex="@i"
                            asp-route-sort="@ViewBag.CurrentSort"
                            asp-route-currentFilter="@ViewBag.CurrentFilter"> @i </a>
                        </li>
                    }
                }
               
               
            }
           
        }

            <li class="page-item">
                  <a asp-action="Index"  class="page-link" style="@disNext"
                asp-route-pageIndex="@( Model.PhieuDatBans.PageIndex + 1 )"
                asp-route-sort="@ViewBag.CurrentSort"
                asp-route-currentFilter="@ViewBag.CurrentFilter"> Next </a>
            </li>
         </ul>
    </span>
