@model QuanLyNhaHang.ViewModels.HoaDonVM

@{
    ViewData["Title"] = "Chi tiết hóa đơn";
}

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoaDon.IdBanAn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoaDon.IdBanAn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoaDon.IdUser)
        </dt>
        <dd class = "col-sm-10">
           @ViewBag.UserName
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoaDon.ThoiGianLap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoaDon.ThoiGianLap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoaDon.ThoiGianThanhToan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoaDon.ThoiGianThanhToan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoaDon.ThanhTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoaDon.ThanhTien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoaDon.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoaDon.TrangThai)
        </dd>
    </dl>
<div>
    @if(Model.HoaDon.TrangThai == "Chưa thanh toán")
    {
      <span><a asp-action="Edit" asp-route-id="@Model.HoaDon.Id">Edit</a> | </span>
    }
    <a asp-action="Index">Back to List</a>
</div>
<div class="row" style="margin-top:20px">
     <div class="col-md-10" style="margin:0 auto">
         <hr/>
     </div>
    <div class="col-md-12">
        <h5>Danh sách chi tiết hóa đơn</h5>
        <table class="table table-stripe">
               <tr>
                    <th>Tên món ăn</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                </tr>
                
                @foreach (var item in Model.ChiTietHoaDonMD)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenMonAn)
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.SoLuong)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DonGia)
                        </td>
                    </tr>
                }
               
            </table>
    </div>
</div>
