@model QuanLyNhaHang.Services.PaginatedList<ApplicationCore.Entitites.HoaDon>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Mã hóa đơn
            </th>
            <th>
                Bàn ăn
            </th>
            <th>
                User 
            </th>
            <th>
                Thời gian lập
            </th>
            <th>
                Thời gian thanh toán
            </th>
            <th>
                Thành tiền
            </th>
            <th>
               Trạng thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdBanAn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianLap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThanhTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                <a asp-action="Serve" asp-controller="BanAn" asp-route-IdBanAn="@item.IdBanAn">Serve</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

        @{
            var disNext= !Model.HasNext ? " visibility: hidden" : "";   
            var disPre= !Model.HasPrevious ? " visibility: hidden" : "";   
        }

    <span style="float:right"> 
        <ul class="pagination">
            <li class="page-item">
                <a asp-action="Index"  class="page-link" style="@disPre"
                asp-route-pageIndex="@( Model.PageIndex - 1 )"
                asp-route-sort="@ViewBag.CurrentSort"
                asp-route-currentFilter="@ViewBag.CurrentFilter"> Previous </a>
            </li>
            
        @{
           
            for(int i=1; i <= Model.TotalPages; i++)
            {
                //Nếu số tổng số trang >=8 thì sẽ hiện ... và sẽ hiện trang : i-2 , i-1 , i , i+1 ,i+2
                if(Model.TotalPages>=8 && @i>=Model.PageIndex-2 && @i<=Model.PageIndex+2)
                {
                    if(@i==Model.PageIndex-2 && @i>1)
                    {
                        <li class="page-item"><a class="page-link">...</a></li>
                    }
                    if(@i==Model.PageIndex)
                    {
                        <li class="page-item">
                            <a class="page-link" style="background-color:lightblue"> @i </a>
                        </li>   
                    }
                    else 
                    {
                        <li class="page-item">
                            <a class="page-link"
                            asp-action="Index"
                            asp-route-pageIndex="@i"
                            asp-route-sort="@ViewBag.CurrentSort"
                            asp-route-currentFilter="@ViewBag.CurrentFilter"> @i </a>
                        </li>
                    }
                    if(@i==Model.PageIndex+2 && @i<Model.TotalPages)
                    {
                        <li class="page-item"><a class="page-link">...</a></li>
                    }
                }
                else if( Model.TotalPages < 8 ) //Nếu số tổng số trang <8 thì sẽ hiện hết các trang
                {
                     if(@i==Model.PageIndex)
                    {
                        <li class="page-item">
                            <a class="page-link" style="background-color:lightblue"> @i </a>
                        </li>   
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link"
                            asp-action="Index"
                            asp-route-pageIndex="@i"
                            asp-route-sort="@ViewBag.CurrentSort"
                            asp-route-currentFilter="@ViewBag.CurrentFilter"> @i </a>
                        </li>
                    }
                }
               
               
            }
           
        }

            <li class="page-item">
                  <a asp-action="Index"  class="page-link" style="@disNext"
                asp-route-pageIndex="@( Model.PageIndex + 1 )"
                asp-route-sort="@ViewBag.CurrentSort"
                asp-route-currentFilter="@ViewBag.CurrentFilter"> Next </a>
            </li>
         </ul>
    </span>
