@model PagedList.IPagedList<QLNH.ThucDon>
@using PagedList.Mvc;

@{
    Layout = "~/Areas/QuanLy/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Thực đơn</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <p>
                @Html.ActionLink("Create New", "Create","ThucDon")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.ActionLink("Tên loại thức ăn","Index",new {sort=@ViewBag.LoaiSort})
                    </th>
                    <th>
                        @Html.ActionLink("Tên thức ăn", "Index", new { sort=@ViewBag.TenThucAnSort })
                    </th>
                    <th>
                       @Html.ActionLink("Giá", "Index", new { sort=@ViewBag.GiaSort })
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr id="row_@item.Id">
                        <td>
                            @Html.DisplayFor(modelItem => item.LoaiMonAn.Ten)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ten)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gia)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                           <!-- @Html.ActionLink("Delete", "Delete", new { id = item.Id }) -->
                            @Ajax.ActionLink("Delete", "Delete","ThucDon" ,new { id = item.Id }, new AjaxOptions
                            {
                               Confirm = "Bạn có muốn xóa",
                               OnComplete = "$('#row_" + @item.Id + "').remove()",
                               HttpMethod="Get"
                            })     
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { sort = ViewBag.CurrentSort, page }))
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
</html>
