
@{
    Layout = null;
}

<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">

            <li>
                @Html.ActionLink("Quản lý thực đơn", "Index", "ThucDon")
            </li>
            <li>
                @Html.ActionLink("Quản lý loại thức ăn", "Index", "Error")
            </li>
            <li>
                @Html.ActionLink("Quản lý hóa đơn", "Index", "Error")
            </li>
            <li>
                @Html.ActionLink("Quản lý bàn ăn", "Index", "Error")
            </li>
            <li>
                @Html.ActionLink("Quản lý phiếu đặt bàn", "Index", "Error")
                
            </li>
            <li>
               @Html.ActionLink("Quản lý Khách hàng", "Index", "Error")
                
            </li>
            <li>
                @Html.ActionLink("Bán hàng", "Index", "BanHang")

            </li>
        </ul>
    </div>
</div>